<!-- <div *ngFor="let ele of data">
<ul>
  <li>
    <img [src]="ele.flag" (click)="onClick()" alt="flags">
  </li>
</ul>
<ul *ngIf="show">
  <li><strong>Name:</strong> {{ele.name}}</li>
  <li><strong>Region:</strong> {{ele.region}}</li>
  <li><strong>Borders:</strong> {{ele.borders}}</li>
</ul> -->
<!-- <table *ngIf="show" class="table table-border col-sm-4 offset-sm-4">
  <tr>
    <th>Name</th>
    <th>Region</th>
    <th>Borders</th>
  </tr>
  <tr>
  <td>{{ele.name}}</td>
  <td>{{ele.region}}</td>
  <td>{{ele.borders}}</td>
  </tr>
</!-->

<!-- </div> -->
<div>
  <a routerLink="employees">Employee List</a>
</div>
<router-outlet></router-outlet>